Node-RED + Modbus/001 - Read SHT20 Temperature & Humidity Transmitter Data in Node-RED using ATC Converter.json
[
    {
        "id": "ecaeee16eeb155c4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0df801866ec7b07",
        "type": "modbus-getter",
        "z": "ecaeee16eeb155c4",
        "name": "SHT20",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "b492279ef538b742",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "b138c97d2aca2f19",
                "7263bc2aeaff6d48"
            ],
            []
        ]
    },
    {
        "id": "7bab5dae89ed3656",
        "type": "inject",
        "z": "ecaeee16eeb155c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "f0df801866ec7b07"
            ]
        ]
    },
    {
        "id": "b084c7250b929986",
        "type": "debug",
        "z": "ecaeee16eeb155c4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "b138c97d2aca2f19",
        "type": "function",
        "z": "ecaeee16eeb155c4",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "b084c7250b929986",
                "7c8591353c701b2a"
            ]
        ]
    },
    {
        "id": "7c8591353c701b2a",
        "type": "ui_gauge",
        "z": "ecaeee16eeb155c4",
        "name": "",
        "group": "b8ac25197ea28000",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "7263bc2aeaff6d48",
        "type": "function",
        "z": "ecaeee16eeb155c4",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "b3a20fd2b9b4d6ef",
                "4d74ec5daa6a6618"
            ]
        ]
    },
    {
        "id": "4d74ec5daa6a6618",
        "type": "debug",
        "z": "ecaeee16eeb155c4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3a20fd2b9b4d6ef",
        "type": "ui_gauge",
        "z": "ecaeee16eeb155c4",
        "name": "",
        "group": "b8ac25197ea28000",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "b492279ef538b742",
        "type": "modbus-client",
        "name": "Modbus Client",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "10000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "20000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b8ac25197ea28000",
        "type": "ui_group",
        "name": "SHT20",
        "tab": "4e826dda2bc2b642",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e826dda2bc2b642",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
