Node-RED + Modbus/001 - Read SHT20 Temperature & Humidity Transmitter Data in Node-RED using ATC Converter.json
[
    {
        "id": "d591d94dbd4bb694",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9d3b64b7acbb400",
        "type": "modbus-getter",
        "z": "d591d94dbd4bb694",
        "name": "SHT20",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "9ec28257ee6f4eb0",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "a16cffe2f72c43aa",
                "efc66c5bad61f7a1"
            ],
            []
        ]
    },
    {
        "id": "aaf5e53af3bb2f10",
        "type": "inject",
        "z": "d591d94dbd4bb694",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "d9d3b64b7acbb400"
            ]
        ]
    },
    {
        "id": "c1fb9296f19326ff",
        "type": "debug",
        "z": "d591d94dbd4bb694",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "a16cffe2f72c43aa",
        "type": "function",
        "z": "d591d94dbd4bb694",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "c1fb9296f19326ff",
                "90d8f2c91dc1ba4c"
            ]
        ]
    },
    {
        "id": "90d8f2c91dc1ba4c",
        "type": "ui_gauge",
        "z": "d591d94dbd4bb694",
        "name": "",
        "group": "1e7477a1e3424261",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "efc66c5bad61f7a1",
        "type": "function",
        "z": "d591d94dbd4bb694",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "1264f3f04fbc6932",
                "06d177a120163420"
            ]
        ]
    },
    {
        "id": "06d177a120163420",
        "type": "debug",
        "z": "d591d94dbd4bb694",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "1264f3f04fbc6932",
        "type": "ui_gauge",
        "z": "d591d94dbd4bb694",
        "name": "",
        "group": "1e7477a1e3424261",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ec28257ee6f4eb0",
        "type": "modbus-client",
        "name": "Modbus Client",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "10000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "20000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "1e7477a1e3424261",
        "type": "ui_group",
        "name": "SHT20",
        "tab": "6e9b9ef9.94e89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e9b9ef9.94e89",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
