Node-RED + Modbus/002 - Read SHT20 Temperature & Humidity Transmitter Data in Node-RED using ZLAN 5143D Modbus RS485 to Modbus TCP-IP Converter Gateway.json
[
    {
        "id": "44ecc6f0f768290f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b2cfd2fefb405a7",
        "type": "modbus-getter",
        "z": "44ecc6f0f768290f",
        "name": "SHT20 ",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "dd04c2c85a44530f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "4e5faef3ca58a6a2",
                "347991e029285093"
            ],
            []
        ]
    },
    {
        "id": "96e7bcad1364af02",
        "type": "inject",
        "z": "44ecc6f0f768290f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3b2cfd2fefb405a7"
            ]
        ]
    },
    {
        "id": "9997c34f1c541ffd",
        "type": "debug",
        "z": "44ecc6f0f768290f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e5faef3ca58a6a2",
        "type": "function",
        "z": "44ecc6f0f768290f",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "9997c34f1c541ffd",
                "7e2430688a932000",
                "57e987174160464d"
            ]
        ]
    },
    {
        "id": "7e2430688a932000",
        "type": "ui_gauge",
        "z": "44ecc6f0f768290f",
        "name": "",
        "group": "d084a8723084ddc8",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "347991e029285093",
        "type": "function",
        "z": "44ecc6f0f768290f",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "fc141634b6d4867c",
                "ca766b29641fb346",
                "be8e7ae88d3aba2d"
            ]
        ]
    },
    {
        "id": "ca766b29641fb346",
        "type": "debug",
        "z": "44ecc6f0f768290f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc141634b6d4867c",
        "type": "ui_gauge",
        "z": "44ecc6f0f768290f",
        "name": "",
        "group": "f2134c875a19d3a6",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "be8e7ae88d3aba2d",
        "type": "ui_chart",
        "z": "44ecc6f0f768290f",
        "name": "",
        "group": "f2134c875a19d3a6",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "57e987174160464d",
        "type": "ui_chart",
        "z": "44ecc6f0f768290f",
        "name": "",
        "group": "d084a8723084ddc8",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dd04c2c85a44530f",
        "type": "modbus-client",
        "name": "ZLAN 5143D Modbus TCP Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.200",
        "tcpPort": "4196",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "10000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "20000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d084a8723084ddc8",
        "type": "ui_group",
        "name": "SHT20-Temperature",
        "tab": "7a786455f9da0917",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2134c875a19d3a6",
        "type": "ui_group",
        "name": "SHT20-Humidity",
        "tab": "7a786455f9da0917",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a786455f9da0917",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
