Node-RED + Modbus/Modbus Serial-RTU Device Data Logging to SQLITE Database from Node-RED.json
[
    {
        "id": "3b1f372ad32b1d9c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "137cffe7bb4eb15d",
        "type": "group",
        "z": "3b1f372ad32b1d9c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "729da329660e6699",
            "61030d9dd973f4de",
            "6f95555e83fe2842",
            "0af361b083b93290",
            "d80e4b58aa377efa"
        ],
        "x": 354,
        "y": 319,
        "w": 452,
        "h": 202
    },
    {
        "id": "4be0d67050c80698",
        "type": "group",
        "z": "3b1f372ad32b1d9c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bfc63baf85a28e15",
            "7e2665559d528122",
            "ea74ad8d6e631a4f",
            "3a8d4e3b9af1596c",
            "25bf15e531c136ba",
            "00dae1f5fd52e3d2",
            "ed9dc810c9109b7f"
        ],
        "x": 354,
        "y": 19,
        "w": 452,
        "h": 242
    },
    {
        "id": "ca33e83a41eb76dc",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "132890584b3be326"
            ]
        ]
    },
    {
        "id": "132890584b3be326",
        "type": "modbus-getter",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "9e5baf4c0f20b3d1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "bfc63baf85a28e15",
                "d80e4b58aa377efa",
                "7e2665559d528122"
            ],
            []
        ]
    },
    {
        "id": "c1b8103d69ea3d76",
        "type": "sqlite",
        "z": "3b1f372ad32b1d9c",
        "mydb": "a85d3f1d252316c2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "729da329660e6699",
        "type": "template",
        "z": "3b1f372ad32b1d9c",
        "g": "137cffe7bb4eb15d",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO `Modbus_Data_1` (`TimeStamp`,`Temperature`,`Humidity`) VALUES (CURRENT_TIMESTAMP,\"{{TempValue}}\",\"{{HumidityValue}}\")",
        "output": "str",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "61030d9dd973f4de",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "137cffe7bb4eb15d",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data_1 (ID INTEGER PRIMARY KEY AUTOINCREMENT, TimeStamp DATETIME, Temperature REAL, Humidity REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ]
    },
    {
        "id": "6f95555e83fe2842",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "137cffe7bb4eb15d",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data_1;",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ]
    },
    {
        "id": "0af361b083b93290",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "137cffe7bb4eb15d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempValue",
                "pt": "msg",
                "to": "payload1",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "HumidityValue",
                "pt": "msg",
                "to": "payload2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "729da329660e6699"
            ]
        ]
    },
    {
        "id": "d80e4b58aa377efa",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "137cffe7bb4eb15d",
        "name": "",
        "func": "var value1 = msg.payload[0] / 10.0;\nvar value2 = msg.payload[1] / 10.0;\n\nvar newMsg = { payload1: value1, payload2: value2 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "0af361b083b93290"
            ]
        ]
    },
    {
        "id": "bfc63baf85a28e15",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "00dae1f5fd52e3d2"
            ]
        ]
    },
    {
        "id": "7e2665559d528122",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "ed9dc810c9109b7f"
            ]
        ]
    },
    {
        "id": "ea74ad8d6e631a4f",
        "type": "template",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO Modbus_Data (TimeStamp, Tag, TagValue) VALUES (CURRENT_TIMESTAMP, \"{{tag}}\", \"{{value}}\");\n",
        "output": "str",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "3a8d4e3b9af1596c",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data (ID INTEGER PRIMARY KEY AUTOINCREMENT, TimeStamp DATETIME, Tag TEXT,  TagValue REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ]
    },
    {
        "id": "25bf15e531c136ba",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data;",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "c1b8103d69ea3d76"
            ]
        ]
    },
    {
        "id": "00dae1f5fd52e3d2",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "ea74ad8d6e631a4f"
            ]
        ]
    },
    {
        "id": "ed9dc810c9109b7f",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "4be0d67050c80698",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "ea74ad8d6e631a4f"
            ]
        ]
    },
    {
        "id": "9e5baf4c0f20b3d1",
        "type": "modbus-client",
        "name": "SHT20",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a85d3f1d252316c2",
        "type": "sqlitedb",
        "db": "C:\\Users\\PARROT\\Desktop\\Modbus_Data.db",
        "mode": "RWC"
    }
]
