Node-RED + Modbus/Modbus Serial-RTU Device Data Logging to SQLITE Database from Node-RED.json
[
    {
        "id": "3b1f372ad32b1d9c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9410929f110045e3",
        "type": "group",
        "z": "3b1f372ad32b1d9c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7cc01beb8736a51e",
            "5ec57e4e4e4396f6",
            "21b7baf6af941c10",
            "97022cea6902d26a",
            "5a73507dd89272ea"
        ],
        "x": 334,
        "y": 359,
        "w": 452,
        "h": 202
    },
    {
        "id": "7341ca4b97b01f53",
        "type": "group",
        "z": "3b1f372ad32b1d9c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e36b30639a251a47",
            "b322265f0627142c",
            "d1eb32af39a37054",
            "1ab997100ecd1fdc",
            "15745b0d1c6d0f6a",
            "4866816f49270ea2",
            "66b5752f70bc7ca9"
        ],
        "x": 334,
        "y": 19,
        "w": 452,
        "h": 242
    },
    {
        "id": "c95bf87757af7ebb",
        "type": "modbus-getter",
        "z": "3b1f372ad32b1d9c",
        "name": "SHT20 ",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "a4e904a8cfc06bd2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b322265f0627142c",
                "e36b30639a251a47",
                "5a73507dd89272ea"
            ],
            []
        ]
    },
    {
        "id": "57a65af3796caec7",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "c95bf87757af7ebb"
            ]
        ]
    },
    {
        "id": "e9058dac7344d27a",
        "type": "sqlite",
        "z": "3b1f372ad32b1d9c",
        "mydb": "a85d3f1d252316c2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB",
        "x": 970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc01beb8736a51e",
        "type": "template",
        "z": "3b1f372ad32b1d9c",
        "g": "9410929f110045e3",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO `Modbus_Data_1` (`TimeStamp`,`Temperature`,`Humidity`) VALUES (CURRENT_TIMESTAMP,\"{{TempValue}}\",\"{{HumidityValue}}\")",
        "output": "str",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "5ec57e4e4e4396f6",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "9410929f110045e3",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data_1 (ID INTEGER PRIMARY KEY AUTOINCREMENT, TimeStamp DATETIME, Temperature REAL, Humidity REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ]
    },
    {
        "id": "21b7baf6af941c10",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "9410929f110045e3",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data_1;",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ]
    },
    {
        "id": "97022cea6902d26a",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "9410929f110045e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "Temp",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "TempValue",
                "pt": "msg",
                "to": "payload1",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "Humidity",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "HumidityValue",
                "pt": "msg",
                "to": "payload2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "7cc01beb8736a51e"
            ]
        ]
    },
    {
        "id": "5a73507dd89272ea",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "9410929f110045e3",
        "name": "",
        "func": "var value1 = msg.payload[0] / 10.0;\nvar value2 = msg.payload[1] / 10.0;\n\nvar newMsg = { payload1: value1, payload2: value2 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "97022cea6902d26a"
            ]
        ]
    },
    {
        "id": "e36b30639a251a47",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "4866816f49270ea2"
            ]
        ]
    },
    {
        "id": "b322265f0627142c",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "66b5752f70bc7ca9"
            ]
        ]
    },
    {
        "id": "d1eb32af39a37054",
        "type": "template",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO Modbus_Data (TimeStamp, Tag, TagValue) VALUES (CURRENT_TIMESTAMP, \"{{tag}}\", \"{{value}}\");\n",
        "output": "str",
        "x": 680,
        "y": 140,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "1ab997100ecd1fdc",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data (ID INTEGER PRIMARY KEY AUTOINCREMENT, TimeStamp DATETIME, Tag TEXT,  TagValue REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ]
    },
    {
        "id": "15745b0d1c6d0f6a",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data;",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "e9058dac7344d27a"
            ]
        ]
    },
    {
        "id": "4866816f49270ea2",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "d1eb32af39a37054"
            ]
        ]
    },
    {
        "id": "66b5752f70bc7ca9",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "g": "7341ca4b97b01f53",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "d1eb32af39a37054"
            ]
        ]
    },
    {
        "id": "a4e904a8cfc06bd2",
        "type": "modbus-client",
        "name": "SHT20 Modbus Server",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "1000",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "10000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "20000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a85d3f1d252316c2",
        "type": "sqlitedb",
        "db": "C:\\Users\\PARROT\\Desktop\\Modbus_Data.db",
        "mode": "RWC"
    }
]
