Node-RED + Modbus/Modbus Serial-RTU Device Data Logging to MySQL Database from Node-RED.json
[
    {
        "id": "1ca58de2ba2655dc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a89feea85cbc3482",
        "type": "group",
        "z": "1ca58de2ba2655dc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3662398c5ad769e1",
            "6272b006200a6794",
            "87935afdc6dcdf7c",
            "ce75da3dba366143",
            "6769dc54d1b40e0e"
        ],
        "x": 354,
        "y": 319,
        "w": 452,
        "h": 162
    },
    {
        "id": "7d5b7dd4853f4cc5",
        "type": "group",
        "z": "1ca58de2ba2655dc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fef0dbccca639291",
            "babbf047ebf77fc9",
            "9e56170e09795686",
            "eda0ad19c3df62b7",
            "4213014f86270577",
            "9952c7824e70d77f",
            "4e515bbfb5ae5e86"
        ],
        "x": 354,
        "y": 19,
        "w": 452,
        "h": 242
    },
    {
        "id": "fef0dbccca639291",
        "type": "function",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "9952c7824e70d77f"
            ]
        ]
    },
    {
        "id": "babbf047ebf77fc9",
        "type": "function",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "4e515bbfb5ae5e86"
            ]
        ]
    },
    {
        "id": "9e56170e09795686",
        "type": "template",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO `Modbus_Data` (`Tag`,`TagValue`) VALUES (\"{{tag}}\",\"{{value}}\")",
        "output": "str",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "eda0ad19c3df62b7",
        "type": "inject",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data (ID INT AUTO_INCREMENT PRIMARY KEY, TimeStamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP, Tag TEXT, TagValue REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ]
    },
    {
        "id": "4213014f86270577",
        "type": "inject",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data;",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ]
    },
    {
        "id": "9952c7824e70d77f",
        "type": "change",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "9e56170e09795686"
            ]
        ]
    },
    {
        "id": "4e515bbfb5ae5e86",
        "type": "change",
        "z": "1ca58de2ba2655dc",
        "g": "7d5b7dd4853f4cc5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "9e56170e09795686"
            ]
        ]
    },
    {
        "id": "3662398c5ad769e1",
        "type": "template",
        "z": "1ca58de2ba2655dc",
        "g": "a89feea85cbc3482",
        "name": "Set SQL Topic",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO `Modbus_Data_1` (`Temperature`,`Humidity`) VALUES (\"{{TempValue}}\",\"{{HumidityValue}}\")",
        "output": "str",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ],
        "icon": "font-awesome/fa-database"
    },
    {
        "id": "6272b006200a6794",
        "type": "inject",
        "z": "1ca58de2ba2655dc",
        "g": "a89feea85cbc3482",
        "name": "Create Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE Modbus_Data_1 (ID INT AUTO_INCREMENT PRIMARY KEY, TimeStamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP, Temperature REAL,  Humidity REAL);",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ]
    },
    {
        "id": "87935afdc6dcdf7c",
        "type": "inject",
        "z": "1ca58de2ba2655dc",
        "g": "a89feea85cbc3482",
        "name": "Delete Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS Modbus_Data_1;",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "d95f06e8ac81c6a1"
            ]
        ]
    },
    {
        "id": "ce75da3dba366143",
        "type": "change",
        "z": "1ca58de2ba2655dc",
        "g": "a89feea85cbc3482",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TempValue",
                "pt": "msg",
                "to": "payload1",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "HumidityValue",
                "pt": "msg",
                "to": "payload2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "3662398c5ad769e1"
            ]
        ]
    },
    {
        "id": "6769dc54d1b40e0e",
        "type": "function",
        "z": "1ca58de2ba2655dc",
        "g": "a89feea85cbc3482",
        "name": "",
        "func": "var value1 = msg.payload[0] / 10.0;\nvar value2 = msg.payload[1] / 10.0;\n\nvar newMsg = { payload1: value1, payload2: value2 };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "ce75da3dba366143"
            ]
        ]
    },
    {
        "id": "d95f06e8ac81c6a1",
        "type": "mysql",
        "z": "1ca58de2ba2655dc",
        "mydb": "ee29beb1191c7f2e",
        "name": "DB",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "38bb551909f030a2",
        "type": "modbus-read",
        "z": "1ca58de2ba2655dc",
        "d": true,
        "name": "SHT20",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9e5baf4c0f20b3d1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "6769dc54d1b40e0e",
                "babbf047ebf77fc9",
                "fef0dbccca639291"
            ],
            []
        ]
    },
    {
        "id": "ee29beb1191c7f2e",
        "type": "MySQLdatabase",
        "name": "DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9e5baf4c0f20b3d1",
        "type": "modbus-client",
        "name": "SHT20",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
