Node-RED + Modbus/Modbus Serial(RS485) to MQTT Converter in Node-RED.json
[
    {
        "id": "3b1f372ad32b1d9c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88e7bb2be27eee86",
        "type": "mqtt out",
        "z": "3b1f372ad32b1d9c",
        "name": "MQTT OUT",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7239fad3d04c7dfb",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "dad16f70b5036ebd",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload[0] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "a6dc8b56e06c6fd2"
            ]
        ]
    },
    {
        "id": "351e6093278dedd8",
        "type": "function",
        "z": "3b1f372ad32b1d9c",
        "name": "Relative Humidity",
        "func": "var newMsg = { payload: msg.payload[1] / 10.0};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "66b5752f70bc7ca9"
            ]
        ]
    },
    {
        "id": "a6dc8b56e06c6fd2",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "88e7bb2be27eee86"
            ]
        ]
    },
    {
        "id": "66b5752f70bc7ca9",
        "type": "change",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "88e7bb2be27eee86"
            ]
        ]
    },
    {
        "id": "ca33e83a41eb76dc",
        "type": "inject",
        "z": "3b1f372ad32b1d9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "132890584b3be326"
            ]
        ]
    },
    {
        "id": "132890584b3be326",
        "type": "modbus-getter",
        "z": "3b1f372ad32b1d9c",
        "d": true,
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "server": "9e5baf4c0f20b3d1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "dad16f70b5036ebd",
                "351e6093278dedd8"
            ],
            []
        ]
    },
    {
        "id": "7239fad3d04c7dfb",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e5baf4c0f20b3d1",
        "type": "modbus-client",
        "name": "SHT20",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
