Node-RED + OPC-UA/3 - Node-RED OPC-UA Client - Write Single Tag.json
[
    {
        "id": "16c7d364.80292d",
        "type": "tab",
        "label": "Prosys",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c67d927.793f66",
        "type": "OpcUa-Client",
        "z": "16c7d364.80292d",
        "endpoint": "8dedbe4.828f54",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "553c3b14.962354",
        "type": "inject",
        "z": "16c7d364.80292d",
        "name": "Write Value 45",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;i=1007;datatype=Double",
        "payload": "45",
        "payloadType": "num",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2c67d927.793f66"
            ]
        ]
    },
    {
        "id": "ebd0524.9ea13b",
        "type": "inject",
        "z": "16c7d364.80292d",
        "name": "Write Value 55",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;i=1007;datatype=Double",
        "payload": "55",
        "payloadType": "num",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "2c67d927.793f66"
            ]
        ]
    },
    {
        "id": "29d25fd5.70d85",
        "type": "ui_numeric",
        "z": "16c7d364.80292d",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "fa421d3a.5d6ba",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "ns=3;i=1007;datatype=Double",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "2c67d927.793f66"
            ]
        ]
    },
    {
        "id": "8dedbe4.828f54",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://DESKTOP-1D1P1PV:53530/localhost",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "fa421d3a.5d6ba",
        "type": "ui_group",
        "name": "Prosys OPC UA",
        "tab": "6e9b9ef9.94e89",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e9b9ef9.94e89",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
